<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{dado.id}} - {{dado.nome}} - {{dado.cpf}}

    <form action= "{% url 'update' dado.id%}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{dado.nome}}">
        <input type="text" name="cpf" value="{{dado.cpf}}">
        <input type="text" name="relatorio" placeholder="Digite o seu relatório">
        <button type="submit"> Update </button>

    </form>
</body>
</html>